In [29]:
import pandas as pd
import os

datapath = './data'

# 1 Join all Files together

In [56]:
def walk_through_files(path, file_extension=('.xlsx')):                # can check for both if tuple!
    for (dirpath, dirnames, filenames) in os.walk(path):
        for filename in filenames:
            if filename.endswith(file_extension): 
                yield os.path.join(dirpath, filename).replace("\\","/")        # ensure right backslashes (Windows)!
                
def generateList(directory):
    print("Generating List of documents in parent folder...")
    documentsList = []                            
    for fname in walk_through_files(directory):
        #print(fname)
        documentsList.append(fname)
    return documentsList

# Generate Dataset from individual Files

# mylist = generateList(datapath)
# finaldf = pd.DataFrame()
# for excelpart in mylist:
#     date = excelpart.split('/')[-1][:-5].replace('kino_','')           # retrieve year_month of file 
#     if date<'2010_11':           # after this date file format changes
#         df = pd.read_excel(excelpart, header = 1).sort_values(by=['Αριθμός Κλήρωσης'])   
#     else:
#         df = pd.read_excel(excelpart, header = 2).sort_values(by=['Αριθμός Κλήρωσης'])  
#     df = df[['Αριθμός Κλήρωσης', 'Ημ/νία Κλήρωσης', 'Ώρα Κλήρωσης', '1ος ', '2ος ',       # discard extra columns
#        '3ος ', '4ος ', '5ος ', '6ος ', '7ος ', '8ος ', '9ος ', '10ος ',
#        '11ος ', '12ος ', '13ος ', '14ος ', '15ος ', '16ος ', '17ος ', '18ος ',
#        '19ος ', '20ος ']]
#     finaldf = finaldf.append(df)
# finaldf.to_csv('./olesoiklhrwseis.csv')

# Load directly

finaldf = pd.read_csv('./olesoiklhrwseis.csv')
print(finaldf.shape)  
finaldf.head()

Generating List of documents in parent folder...

,Αριθμός Κλήρωσης,Ημ/νία Κλήρωσης,Ώρα Κλήρωσης,1ος,2ος,3ος,4ος,5ος,6ος,7ος,...,11ος,12ος,13ος,14ος,15ος,16ος,17ος,18ος,19ος,20ος
1091,1,2003-03-11 00:00:00,12:30:00,38,44,63,46,78,66,2,...,33,22,58,74,55,52,62,56,7,72
1090,2,2003-03-11 00:00:00,13:00:00,45,42,43,60,11,44,72,...,37,65,14,51,73,33,1,80,71,9
1089,3,2003-03-11 00:00:00,13:30:00,21,66,51,62,53,34,73,...,64,16,19,5,2,1,8,56,13,45
1088,4,2003-03-11 00:00:00,19:30:00,54,80,57,67,63,25,24,...,12,40,43,79,3,59,61,17,26,1
1087,5,2003-03-11 00:00:00,20:00:00,39,37,61,58,73,48,40,...,64,8,6,71,66,21,7,35,46,30

In [64]:
#finaldf.to_csv('./olesoiklhrwseis.csv', index=False)

finaldf = pd.read_csv('./olesoiklhrwseis.csv')
finaldf.head()

,Αριθμός Κλήρωσης,Ημ/νία Κλήρωσης,Ώρα Κλήρωσης,1ος,2ος,3ος,4ος,5ος,6ος,7ος,...,11ος,12ος,13ος,14ος,15ος,16ος,17ος,18ος,19ος,20ος
0,1,2003-03-11 00:00:00,12:30:00,38,44,63,46,78,66,2,...,33,22,58,74,55,52,62,56,7,72
1,2,2003-03-11 00:00:00,13:00:00,45,42,43,60,11,44,72,...,37,65,14,51,73,33,1,80,71,9
2,3,2003-03-11 00:00:00,13:30:00,21,66,51,62,53,34,73,...,64,16,19,5,2,1,8,56,13,45
3,4,2003-03-11 00:00:00,19:30:00,54,80,57,67,63,25,24,...,12,40,43,79,3,59,61,17,26,1
4,5,2003-03-11 00:00:00,20:00:00,39,37,61,58,73,48,40,...,64,8,6,71,66,21,7,35,46,30

# 2 Feature Engineering

## 2.1 Αριθμος Κλήρωσης

In [75]:
labelsCols = ['1ος ', '2ος ', '3ος ', '4ος ', '5ος ', '6ος ', '7ος ', '8ος ', '9ος ', '10ος ',
       '11ος ', '12ος ', '13ος ', '14ος ', '15ος ', '16ος ', '17ος ', '18ος ', '19ος ', '20ος ']

features = finaldf[[col for col in finaldf.columns if col not in labelsCols]]
modlist = [2, 3, 5, 7, 9, 11, 13, 17, 19, 21]

def isMod0(no, mod):
    if no%mod==0:
        return 1
    else:
        return 0

for mod in modlist:
    features['Mod_'+str(mod)+'=0'] = features.apply(lambda row: isMod0(row['Αριθμός Κλήρωσης'], mod), axis=1)
    
print(features.shape)
print(features.columns)
features.head()

c:\programdata\miniconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(827559, 13)
Index(['Αριθμός Κλήρωσης', 'Ημ/νία Κλήρωσης', 'Ώρα Κλήρωσης', 'Mod_2=0',
       'Mod_3=0', 'Mod_5=0', 'Mod_7=0', 'Mod_9=0', 'Mod_11=0', 'Mod_13=0',
       'Mod_17=0', 'Mod_19=0', 'Mod_21=0'],
      dtype='object')

,Αριθμός Κλήρωσης,Ημ/νία Κλήρωσης,Ώρα Κλήρωσης,Mod_2=0,Mod_3=0,Mod_5=0,Mod_7=0,Mod_9=0,Mod_11=0,Mod_13=0,Mod_17=0,Mod_19=0,Mod_21=0
0,1,2003-03-11 00:00:00,12:30:00,0,0,0,0,0,0,0,0,0,0
1,2,2003-03-11 00:00:00,13:00:00,1,0,0,0,0,0,0,0,0,0
2,3,2003-03-11 00:00:00,13:30:00,0,1,0,0,0,0,0,0,0,0
3,4,2003-03-11 00:00:00,19:30:00,1,0,0,0,0,0,0,0,0,0
4,5,2003-03-11 00:00:00,20:00:00,0,0,1,0,0,0,0,0,0,0

## 2.2 Date & Time

In [105]:
def analyseHour(time):        # quarter of day
    hour = int(time.split(':')[0])
    return hour//6
    
def analyseMinutes(time):     # part of Hour
    minutes = int(time.split(':')[1])
    return minutes//5

def analyseDate(date):        # quarter of the month
    day = pd.to_datetime(date).day
    return day//7.5

#features['Ημ/νία Κλήρωσης'] = features.apply(lambda row: sanitizeDate(row['Ημ/νία Κλήρωσης']), axis=1)

features['partOfDay'] = features.apply(lambda row: analyseHour(row['Ώρα Κλήρωσης']), axis=1)
features['partOfHour'] = features.apply(lambda row: analyseMinutes(row['Ώρα Κλήρωσης']), axis=1)
features['partOfMonth'] = features.apply(lambda row: analyseDate(row['Ημ/νία Κλήρωσης']), axis=1)
features.head()

c:\programdata\miniconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Αριθμός Κλήρωσης,Ημ/νία Κλήρωσης,Ώρα Κλήρωσης,Mod_2=0,Mod_3=0,Mod_5=0,Mod_7=0,Mod_9=0,Mod_11=0,Mod_13=0,Mod_17=0,Mod_19=0,Mod_21=0,partOfDay,partOfHour,partOfMonth
0,1,2003-03-11 00:00:00,12:30:00,0,0,0,0,0,0,0,0,0,0,2,6,1.0
1,2,2003-03-11 00:00:00,13:00:00,1,0,0,0,0,0,0,0,0,0,2,0,1.0
2,3,2003-03-11 00:00:00,13:30:00,0,1,0,0,0,0,0,0,0,0,2,6,1.0
3,4,2003-03-11 00:00:00,19:30:00,1,0,0,0,0,0,0,0,0,0,3,6,1.0
4,5,2003-03-11 00:00:00,20:00:00,0,0,1,0,0,0,0,0,0,0,3,0,1.0

# 3 One-Hot Encode Categorical Features and ditch date and no

In [113]:
featuresStripped = features.drop(columns=['Αριθμός Κλήρωσης', 'Ημ/νία Κλήρωσης', 'Ώρα Κλήρωσης'])

catCols = ['partOfDay', 'partOfHour', 'partOfMonth']   
for catCol in catCols:                                    
    featuresStripped = pd.concat([featuresStripped, pd.get_dummies(featuresStripped[catCol], prefix=catCol)],axis=1).drop([catCol], axis=1)

featuresStripped.head()

,Mod_2=0,Mod_3=0,Mod_5=0,Mod_7=0,Mod_9=0,Mod_11=0,Mod_13=0,Mod_17=0,Mod_19=0,Mod_21=0,...,partOfHour_7,partOfHour_8,partOfHour_9,partOfHour_10,partOfHour_11,partOfMonth_0.0,partOfMonth_1.0,partOfMonth_2.0,partOfMonth_3.0,partOfMonth_4.0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0