# Notes

- Some ids are missing!

In [5]:
import pandas as pd
import numpy as np
import os
from numpy import random as nprandom
import random
import time

outputPath = os.path.join('..', 'features')

draws = pd.read_csv('../data/allDraws.csv')
draws = draws.rename(columns={'Αριθμός Κλήρωσης':'id', 'Ημ/νία Κλήρωσης':'date',
                             'Ώρα Κλήρωσης':'time', '1ος ':'WinNo1', '2ος ':'WinNo2', '3ος ':'WinNo3', '4ος ':'WinNo4',
                             '5ος ':'WinNo5', '6ος ':'WinNo6', '7ος ':'WinNo7', '8ος ':'WinNo8', '9ος ':'WinNo9', 
                              '10ος ':'WinNo10', '11ος ':'WinNo11', '12ος ':'WinNo12', '13ος ':'WinNo13', '14ος ':'WinNo14',
                              '15ος ':'WinNo15', '16ος ':'WinNo16', '17ος ':'WinNo17', '18ος ':'WinNo18', '19ος ':'WinNo19',
                              '20ος ':'WinNo20'})
draws.head()

,id,date,time,WinNo1,WinNo2,WinNo3,WinNo4,WinNo5,WinNo6,WinNo7,...,WinNo11,WinNo12,WinNo13,WinNo14,WinNo15,WinNo16,WinNo17,WinNo18,WinNo19,WinNo20
0,1,2003-03-11 00:00:00,12:30:00,38,44,63,46,78,66,2,...,33,22,58,74,55,52,62,56,7,72
1,2,2003-03-11 00:00:00,13:00:00,45,42,43,60,11,44,72,...,37,65,14,51,73,33,1,80,71,9
2,3,2003-03-11 00:00:00,13:30:00,21,66,51,62,53,34,73,...,64,16,19,5,2,1,8,56,13,45
3,4,2003-03-11 00:00:00,19:30:00,54,80,57,67,63,25,24,...,12,40,43,79,3,59,61,17,26,1
4,5,2003-03-11 00:00:00,20:00:00,39,37,61,58,73,48,40,...,64,8,6,71,66,21,7,35,46,30

# Targets

In [6]:
# Sort winning numbers (asc)

winCols = ['WinNo1', 'WinNo2', 'WinNo3', 'WinNo4', 'WinNo5', 'WinNo6', 'WinNo7', 'WinNo8', 'WinNo9', 'WinNo10',
             'WinNo11', 'WinNo12', 'WinNo13', 'WinNo14', 'WinNo15', 'WinNo16', 'WinNo17', 'WinNo18', 'WinNo19',
             'WinNo20']

winNumbers = draws[winCols].values
winNumbers.sort(axis=1) 
winNumbersDf = pd.DataFrame(winNumbers, draws.index, winCols)

# Rearrange Columns so id and winning Numbers can be seen as first columns

# for idx, winColName in enumerate(winCols):
#     winCol = winNumbersDf.pop(winColName)
#     winNumbersDf.insert(idx, winColName, winCol)

winNumbersDf.head()

,WinNo1,WinNo2,WinNo3,WinNo4,WinNo5,WinNo6,WinNo7,WinNo8,WinNo9,WinNo10,WinNo11,WinNo12,WinNo13,WinNo14,WinNo15,WinNo16,WinNo17,WinNo18,WinNo19,WinNo20
0,2,5,7,8,22,33,38,44,46,52,54,55,56,58,62,63,66,72,74,78
1,1,9,11,14,33,37,41,42,43,44,45,51,55,60,65,71,72,73,77,80
2,1,2,5,8,13,16,19,21,34,38,45,51,53,54,56,57,62,64,66,73
3,1,3,6,12,17,24,25,26,40,43,54,56,57,59,61,63,67,70,79,80
4,6,7,8,21,30,32,35,37,39,40,43,46,48,57,58,61,64,66,71,73

# Datetime and Id features

In [7]:
# Extract time features

daysofweek = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
monthsofyear = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August',
                'September', 'October', 'November', 'December']

featuresDf = draws[['id', 'date', 'time']].copy()
del draws

featuresDf['date'] = pd.to_datetime(featuresDf['date'])
featuresDf['time'] = pd.to_datetime(featuresDf['time'])
featuresDf['Hour'] = featuresDf['time'].dt.hour
featuresDf['Minutes'] = featuresDf['time'].dt.minute
featuresDf['Day'] = featuresDf['date'].dt.day
featuresDf['Month'] = featuresDf['date'].dt.month
featuresDf['Year'] = featuresDf['date'].dt.year
featuresDf.head()

   id       date                time  Hour  Minutes  Day  Month  Year
0   1 2003-03-11 2020-10-10 12:30:00    12       30   11      3  2003
1   2 2003-03-11 2020-10-10 13:00:00    13        0   11      3  2003
2   3 2003-03-11 2020-10-10 13:30:00    13       30   11      3  2003
3   4 2003-03-11 2020-10-10 19:30:00    19       30   11      3  2003
4   5 2003-03-11 2020-10-10 20:00:00    20        0   11      3  2003

In [8]:
# Prepare dictionaries

sinDoMDict28 = {}
for i in range(28):
    sinDoMDict28[i] = np.sin((2*np.pi*i)/28)
cosDoMDict28 = {}
for i in range(28):
    cosDoMDict28[i] = np.cos((2*np.pi*i)/28)
sinDoMDict30 = {}
for i in range(30):
    sinDoMDict30[i] = np.sin((2*np.pi*i)/30)
cosDoMDict30 = {}
for i in range(30):
    cosDoMDict30[i] = np.cos((2*np.pi*i)/30)
sinDoMDict31 = {}
for i in range(28):
    sinDoMDict31[i] = np.sin((2*np.pi*i)/31)
cosDoMDict31 = {}
for i in range(28):
    cosDoMDict31[i] = np.cos((2*np.pi*i)/31)

sindowDict = {}
for idx, day in enumerate(daysofweek):
    sindowDict[day]=np.sin((2*np.pi*idx)/len(daysofweek))

cosdowDict = {}
for idx, day in enumerate(daysofweek):
    cosdowDict[day]=np.cos((2*np.pi*idx)/len(daysofweek))

sinmoyDict = {}
for idx, month in enumerate(monthsofyear):
    sinmoyDict[month]=np.sin((2*np.pi*idx)/len(monthsofyear))

cosmoyDict = {}
for idx, month in enumerate(monthsofyear):
    cosmoyDict[month]=np.cos((2*np.pi*idx)/len(monthsofyear))

In [9]:
featuresDf['DayT'] = featuresDf['date'].dt.day_name()
featuresDf['MonthT'] = featuresDf['date'].dt.month_name()
    
# Hour of day
featuresDf['sinHod'] = np.round(np.sin((2*np.pi*(featuresDf['Hour'])/24)),7)
featuresDf['cosHod'] = np.round(np.cos((2*np.pi*(featuresDf['Hour'])/24)),7)

# Hour of half day (12h)
featuresDf['sinHohd'] = np.round(np.sin((2*np.pi*(featuresDf['Hour'])/12)),7)
featuresDf['cosHohd'] = np.round(np.cos((2*np.pi*(featuresDf['Hour'])/12)),7)

# Minute of Hour
featuresDf['sinMoH'] = np.round(np.sin((2*np.pi*(featuresDf['Minutes'])/60)),7)
featuresDf['cosMoH'] = np.round(np.cos((2*np.pi*(featuresDf['Minutes'])/60)),7)

# Minute of day
featuresDf['sinMoD'] = np.round(np.sin((2*np.pi*(featuresDf['Hour']*60+featuresDf['Minutes'])/1440)),7)
featuresDf['cosMoD'] = np.round(np.cos((2*np.pi*(featuresDf['Hour']*60+featuresDf['Minutes'])/1440)),7)

# DayName of week
featuresDf['sinDow'] = np.round(featuresDf['DayT'].map(sindowDict),7)              # angle represents periodic sin of Day of week!
featuresDf['cosDow'] = np.round(featuresDf['DayT'].map(cosdowDict),7)


# Day of Month
featuresDf['sinDoM28'] = np.round(featuresDf['Month'].map(sinDoMDict28),7)
featuresDf['cosDoM28'] = np.round(featuresDf['Month'].map(cosDoMDict28),7)
featuresDf['sinDoM30'] = np.round(featuresDf['Month'].map(sinDoMDict30),7)
featuresDf['cosDoM30'] = np.round(featuresDf['Month'].map(cosDoMDict30),7)
featuresDf['sinDoM31'] = np.round(featuresDf['Month'].map(sinDoMDict31),7)
featuresDf['cosDoM31'] = np.round(featuresDf['Month'].map(cosDoMDict31),7)

# Month of Year
featuresDf['sinMoy'] = featuresDf['MonthT'].map(sinmoyDict)
featuresDf['cosMoy'] = featuresDf['MonthT'].map(cosmoyDict)

# Year of Decade
featuresDf['sinYoD'] = np.round(np.sin((2*np.pi*(featuresDf['Year']%10)/10)),7)
featuresDf['cosYoD'] = np.round(np.cos((2*np.pi*(featuresDf['Year']%10)/10)),7)
featuresDf = featuresDf.drop(columns=['date', 'time', 'Hour', 'Minutes', 'Day', 'Month', 'DayT', 'MonthT', 'Year'])
print(featuresDf.columns)
featuresDf.head()

Index(['id', 'sinHod', 'cosHod', 'sinHohd', 'cosHohd', 'sinMoH', 'cosMoH',
       'sinMoD', 'cosMoD', 'sinDow', 'cosDow', 'sinDoM28', 'cosDoM28',
       'sinDoM30', 'cosDoM30', 'sinDoM31', 'cosDoM31', 'sinMoy', 'cosMoy',
       'sinYoD', 'cosYoD'],
      dtype='object')

,id,sinHod,cosHod,sinHohd,cosHohd,sinMoH,cosMoH,sinMoD,cosMoD,sinDow,...,sinDoM28,cosDoM28,sinDoM30,cosDoM30,sinDoM31,cosDoM31,sinMoy,cosMoy,sinYoD,cosYoD
0,1,0.000000,-1.000000,-0.000000,1.000000,0.0,-1.0,-0.130526,-0.991445,0.781832,...,0.62349,0.781832,0.587785,0.809017,0.571268,0.820763,0.866025,0.5,0.951056,-0.309017
1,2,-0.258819,-0.965926,0.500000,0.866025,0.0,1.0,-0.258819,-0.965926,0.781832,...,0.62349,0.781832,0.587785,0.809017,0.571268,0.820763,0.866025,0.5,0.951056,-0.309017
2,3,-0.258819,-0.965926,0.500000,0.866025,0.0,-1.0,-0.382683,-0.923879,0.781832,...,0.62349,0.781832,0.587785,0.809017,0.571268,0.820763,0.866025,0.5,0.951056,-0.309017
3,4,-0.965926,0.258819,-0.500000,-0.866025,0.0,-1.0,-0.923879,0.382683,0.781832,...,0.62349,0.781832,0.587785,0.809017,0.571268,0.820763,0.866025,0.5,0.951056,-0.309017
4,5,-0.866025,0.500000,-0.866025,-0.500000,0.0,1.0,-0.866025,0.500000,0.781832,...,0.62349,0.781832,0.587785,0.809017,0.571268,0.820763,0.866025,0.5,0.951056,-0.309017

# Add exp and squared Transformations

In [16]:
relCols = [col for col in featuresDf.columns if col not in winCols and col!='id']

for col in relCols:
    featuresDf['e_'+col] = np.round(np.exp(featuresDf[col]),7)
    featuresDf['sq_'+col] = np.round(np.square(featuresDf[col]),7)     # when x in [-1,+1], log function is -inf

print(featuresDf.shape)
featuresDf.head()

(827559, 61)

,id,sinHod,cosHod,sinHohd,cosHohd,sinMoH,cosMoH,sinMoD,cosMoD,sinDow,...,e_cosDoM31,sq_cosDoM31,e_sinMoy,sq_sinMoy,e_cosMoy,sq_cosMoy,e_sinYoD,sq_sinYoD,e_cosYoD,sq_cosYoD
0,1,0.000000,-1.000000,-0.000000,1.000000,0.0,-1.0,-0.130526,-0.991445,0.781832,...,2.272234,0.673653,2.377443,0.75,1.648721,0.25,2.588443,0.904509,0.734168,0.095492
1,2,-0.258819,-0.965926,0.500000,0.866025,0.0,1.0,-0.258819,-0.965926,0.781832,...,2.272234,0.673653,2.377443,0.75,1.648721,0.25,2.588443,0.904509,0.734168,0.095492
2,3,-0.258819,-0.965926,0.500000,0.866025,0.0,-1.0,-0.382683,-0.923879,0.781832,...,2.272234,0.673653,2.377443,0.75,1.648721,0.25,2.588443,0.904509,0.734168,0.095492
3,4,-0.965926,0.258819,-0.500000,-0.866025,0.0,-1.0,-0.923879,0.382683,0.781832,...,2.272234,0.673653,2.377443,0.75,1.648721,0.25,2.588443,0.904509,0.734168,0.095492
4,5,-0.866025,0.500000,-0.866025,-0.500000,0.0,1.0,-0.866025,0.500000,0.781832,...,2.272234,0.673653,2.377443,0.75,1.648721,0.25,2.588443,0.904509,0.734168,0.095492

# ContestId Features

In [18]:
primenumbers = [7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

start = time.time()

for primeno in primenumbers:
    featuresDf['sinId%'+str(primeno)] = np.round(np.sin(2*np.pi*(featuresDf['id']%primeno)/primeno),7)
    featuresDf['cosId%'+str(primeno)] = np.round(np.cos(2*np.pi*(featuresDf['id']%primeno)/primeno),7)

    featuresDf['e_sinId%'+str(primeno)] = np.round(np.exp(featuresDf['sinId%'+str(primeno)]),7)
    featuresDf['e_cosId%'+str(primeno)] = np.round(np.exp(featuresDf['cosId%'+str(primeno)]),7)

    featuresDf['sq_sinId%'+str(primeno)] = np.round(np.square(featuresDf['sinId%'+str(primeno)]),7)
    featuresDf['sq_cosId%'+str(primeno)] = np.round(np.square(featuresDf['cosId%'+str(primeno)]),7)

end = time.time()
elapsed = round(end-start,3)
print("Elapsed time: "+str(elapsed)+" seconds")
print(featuresDf.shape)
featuresDf.head(5)

Elapsed time: 3.019 seconds
(827559, 133)

,id,sinHod,cosHod,sinHohd,cosHohd,sinMoH,cosMoH,sinMoD,cosMoD,sinDow,...,e_sinId%43,e_cosId%43,sq_sinId%43,sq_cosId%43,sinId%47,cosId%47,e_sinId%47,e_cosId%47,sq_sinId%47,sq_cosId%47
0,1,0.000000,-1.000000,-0.000000,1.000000,0.0,-1.0,-0.130526,-0.991445,0.781832,...,1.156735,2.689468,0.021200,0.978800,0.133287,0.991077,1.142578,2.694136,0.017765,0.982235
1,2,-0.258819,-0.965926,0.500000,0.866025,0.0,1.0,-0.258819,-0.965926,0.781832,...,1.333889,2.605437,0.083001,0.916999,0.264195,0.964469,1.302383,2.623395,0.069799,0.930201
2,3,-0.258819,-0.965926,0.500000,0.866025,0.0,-1.0,-0.382683,-0.923879,0.781832,...,1.528760,2.473040,0.180164,0.819836,0.390389,0.920650,1.477556,2.510922,0.152404,0.847596
3,4,-0.965926,0.258819,-0.500000,-0.866025,0.0,-1.0,-0.923879,0.382683,0.781832,...,1.736320,2.302505,0.304448,0.695552,0.509617,0.860402,1.664653,2.364110,0.259709,0.740291
4,5,-0.866025,0.500000,-0.866025,-0.500000,0.0,1.0,-0.866025,0.500000,0.781832,...,1.949005,2.105962,0.445314,0.554686,0.619750,0.784799,1.858463,2.191967,0.384090,0.615910

# Merge

In [20]:
totaldf = winNumbersDf.join(featuresDf, how='outer')
idCol = totaldf.pop('id')
totaldf.insert(0, 'id', idCol)
print(totaldf.shape)
totaldf.head()

(827559, 153)

,id,WinNo1,WinNo2,WinNo3,WinNo4,WinNo5,WinNo6,WinNo7,WinNo8,WinNo9,...,e_sinId%43,e_cosId%43,sq_sinId%43,sq_cosId%43,sinId%47,cosId%47,e_sinId%47,e_cosId%47,sq_sinId%47,sq_cosId%47
0,1,2,5,7,8,22,33,38,44,46,...,1.156735,2.689468,0.021200,0.978800,0.133287,0.991077,1.142578,2.694136,0.017765,0.982235
1,2,1,9,11,14,33,37,41,42,43,...,1.333889,2.605437,0.083001,0.916999,0.264195,0.964469,1.302383,2.623395,0.069799,0.930201
2,3,1,2,5,8,13,16,19,21,34,...,1.528760,2.473040,0.180164,0.819836,0.390389,0.920650,1.477556,2.510922,0.152404,0.847596
3,4,1,3,6,12,17,24,25,26,40,...,1.736320,2.302505,0.304448,0.695552,0.509617,0.860402,1.664653,2.364110,0.259709,0.740291
4,5,6,7,8,21,30,32,35,37,39,...,1.949005,2.105962,0.445314,0.554686,0.619750,0.784799,1.858463,2.191967,0.384090,0.615910

# Save features

In [21]:
if not os.path.exists(outputPath):
    os.mkdir(outputPath)
    
totaldf.to_csv(os.path.join(outputPath, "features.csv"), index=False)
totaldf.head()

,id,WinNo1,WinNo2,WinNo3,WinNo4,WinNo5,WinNo6,WinNo7,WinNo8,WinNo9,...,e_sinId%43,e_cosId%43,sq_sinId%43,sq_cosId%43,sinId%47,cosId%47,e_sinId%47,e_cosId%47,sq_sinId%47,sq_cosId%47
0,1,2,5,7,8,22,33,38,44,46,...,1.156735,2.689468,0.021200,0.978800,0.133287,0.991077,1.142578,2.694136,0.017765,0.982235
1,2,1,9,11,14,33,37,41,42,43,...,1.333889,2.605437,0.083001,0.916999,0.264195,0.964469,1.302383,2.623395,0.069799,0.930201
2,3,1,2,5,8,13,16,19,21,34,...,1.528760,2.473040,0.180164,0.819836,0.390389,0.920650,1.477556,2.510922,0.152404,0.847596
3,4,1,3,6,12,17,24,25,26,40,...,1.736320,2.302505,0.304448,0.695552,0.509617,0.860402,1.664653,2.364110,0.259709,0.740291
4,5,6,7,8,21,30,32,35,37,39,...,1.949005,2.105962,0.445314,0.554686,0.619750,0.784799,1.858463,2.191967,0.384090,0.615910

In [ ]:
# totaldf = pd.read_csv(os.path.join(outputPath, "featuresFull.csv"))
# small = totaldf.sample(frac=0.00303)
# small.shape
# small.to_csv(os.path.join(outputPath, "features.csv"), index=False)
# totaldf.shape